Assets/LeartesStudios/Stylized[[:space:]]Solarpunk[[:space:]]City/HDRP/Art/Terrain/New[[:space:]]Terrain.asset filter=lfs diff=lfs merge=lfs -text
Assets/VendorLibraries/CityEngine/Assets/Meshes/CombinedNew/EcoHighRise.fbx filter=lfs diff=lfs merge=lfs -text
